In [304]:
# Import
# Original xlsx file has mistakes and standardization issues so the goal is to clean it up and standardize it

import pandas as pd
df = pd.read_excel(r"C:\Users\ewlem\Documents\Portfolio Projects\Python\Pandas\Customer Call List.xlsx")

In [305]:
# Looking at the data

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [306]:
# Drop duplicates, 1020 is a duplicate

df = df.drop_duplicates()

In [307]:
# Deleting the "Not_Useful_Column"

df = df.drop(columns = "Not_Useful_Column")

In [308]:
# Striping "Last_Name"

df["Last_Name"] = df["Last_Name"].str.strip("123._/")

In [309]:
# Replacing/Standardizing "Phone_Number" column

df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace("[^0-9]", "", regex=True)
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3]+"-"+x[3:6]+"-"+x[6:10]+"-")
df["Phone_Number"] = df["Phone_Number"].str.rstrip("-")

In [310]:
# Removing NaN from "Last_Name" column

df["Last_Name"] = df["Last_Name"].fillna("")

In [311]:
# Splitting "Address" into three different columns

df[["Street_Address", "State", "Zip"]] = df["Address"].str.split(",",n=2, expand=True)
df["Street_Address"] = df["Street_Address"].astype(str).str.replace("N/a", "", regex=True)
df[["Street_Address", "State", "Zip"]] = df[["Street_Address", "State", "Zip"]].fillna("")
df = df.drop("Address", axis=1)

In [312]:
# Standardizing "Paying Customer" column

df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("Yes", "Y")
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("No", "N")
df["Paying Customer"] = df["Paying Customer"].astype(str).str.replace("N/a", "")

In [313]:
# Standardizing "Do_Not_Contact" column

df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("Yes", "Y")
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("No", "N")
df["Do_Not_Contact"] = df["Do_Not_Contact"].astype(str).str.replace("nan", "N")

In [314]:
# Finished standardized dataframe

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,N,Y,93 West Main Street,,
2,1003,Walter,White,706-695-0392,N,N,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,Y,Y,768 City Parkway,,
6,1007,Jeff,Winger,,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
8,1009,Gandalf,,,Y,N,123 Middle Earth,,
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,
11,1012,Harry,Potter,706-695-0392,Y,N,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,706-695-0392,Y,N,3498 Super Lane,,
18,1019,Creed,Braton,,,Y,,,
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,

In [315]:
# Filtering based on "Do_Not_Contact" column to get rid of Y in "Do_Not_Contact"

for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == "Y":
        df.drop(x, inplace=True)

# Filtering based on "Phone_Number" column to get rid of rows without numbers

for x in df.index:
    if df.loc[x,"Phone_Number"] == "":
        df.drop(x, inplace=True)

In [316]:
# Resetting index to provide all customers who have phone numbers and can be contacted
# Final table

df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1003,Walter,White,706-695-0392,N,N,298 Drugs Driveway,,
2,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
3,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
4,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
5,1012,Harry,Potter,706-695-0392,Y,N,2394 Hogwarts Avenue,,
6,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
7,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
8,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
9,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
10,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
11,1018,Clark,Kent,706-695-0392,Y,N,3498 Super Lane,,
12,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,